<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{manager/fragment/layout}" th:with="activeMenu='dashboard'">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" th:href="@{/manager/manager-dashboard.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content" class="container-fluid h-100 p-0">

    <div class="d-block w-100 h-100" style="background: #FAF7F2">

        <div class="w-100 py-4 ps-5 pe-4" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <header>
                            <h3>Trang chủ</h3>
                            <p>Chào buổi sáng. Chúc một ngày tốt lành</p>
                        </header>

                    </div>
                    <div class="row d-flex">
                        <div class="col-md-4"> <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h6 class="card-title" style="color: #7A6248;"><i class="bi bi-cash-stack"></i>
                                    Doanh thu hôm nay</h6>
                                <span class="card-subtitle mb-2 "
                                      style="font-family:JetBrains Mono;color: #C9A84C;font-weight: bold;font-size: 25px" th:text="${todayRevenue} + ' VNĐ'">120,000,000 VND</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">

                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title" style="color: #7A6248"><i
                                            class="bi bi-fork-knife"></i> Đơn hàng phục vụ</h6>
                                    <span class="card-subtitle mb-2 "
                                          style="font-family:JetBrains Mono;color: #7A6248;font-weight: bold; font-size: 25px" th:text="${totalOrder}">40</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title" style="color: #7A6248"><i
                                            class="bi bi-calendar-check"></i> Đơn đặt bàn</h6>
                                    <span class="card-subtitle mb-2 "
                                          style="font-family:JetBrains Mono;color: #7A6248;font-weight: bold;font-size: 25px" th:text="${totalReservation}"> 120</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"
                                        style="font-family: Playfair Display;font-weight: 600;font-style: SemiBold;color: #C9A84C">
                                        Đơn đặt bàn hôm nay</h5>
                                    <div class="table-responsive"
                                         style=" border: 1px solid #F3EDE3;border-radius: 5px;">
                                        <table class="table table-hover">
                                            <thead style="background: #F3EDE3">
                                            <tr style="color: #7A6248; text-align: center">
                                                <th scope="col">ID</th>
                                                <th scope="col">Khách hàng</th>
                                                <th scope="col">Số lượng khách</th>
                                                <th scope="col">Thời gian</th>
                                                <th scope="col">Bàn</th>
                                                <th scope="col">Trạng thái</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="text-align: center">
                                                <td>1</td>
                                                <td>Nguyễn Dũng</td>
                                                <td>4</td>
                                                <td>19:30 Tối</td>
                                                <td>4</td>
                                                <td>Đã xác nhận</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"
                                        style="font-family: Playfair Display;font-weight: 600;font-style: SemiBold;color: #C9A84C">
                                        Doanh số theo danh mục</h5>
                                    <div class ="card-body" style="justify-items: center;">
                                        <div class="card" style="width: 40% !important;border-radius: 10px;">
                                            <div class="card-body" style="border-radius: 5px; text-align: center;">
                                                <h6 class="card-title "> Tổng đơn hàng</h6>
                                                <span class="card-subtitle mb-2 ">255</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <ul>
                                            <li>
                                                Món chính : 26%
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>