
    .nav-underline .nav-link{
        color: #755B00 !important;
        bottom: 2px;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
    }
    .nav-underline .nav-link.active{
        color: #755B00; !important;
        border-bottom: 2px solid #C9A84C !important;
        font-weight: 600;

    }

    .nav-underline .nav-link:hover{
        border-bottom-color: #755B00;
        color: #C9A84C;
    }