<header class="annam-header"
        id="kds-header"
        th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="header-left">
        <div class="breadcrumbs">
            <span class="breadcrumb-item active">Xin chào, Chef Tuấn</span>
        </div>
    </div>

    <div class="header-right">


        <div class="header-divider"></div>

        <div class="actions-container">
            <div class="user-profile" id="header-profile-trigger">
                <div class="user-info">
                    <span class="user-name">Bếp Trưởng Trần</span>
                    <span class="user-role">Bếp Trưởng</span>
                </div>
                <img class="user-avatar" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBHEKhd6O2KfXNVmtIdlfsrIeFL5goL_UJ5AknrKYAEHENiu-4E_BjKMqNSkMs160K_N4APHr_SAhdjqYsz2z1i-_2JBrkR1GpwurAaT8D1cNhIu7LE6OCgEgeC57R4niyHXvXjvcJlmapSVzY_sPptitCdJc0q7d4MuK689zroA5ELLJJapcIrmYAwsSe5j0BXTj0K9BiEJrvuxug3q5XDHpSbMGUl6HuJGkdui1AD4CoE5DeomQNHK0SxYrkdquHsJg6AAonMA4o" alt="Chef Portrait">

                <div class="account-dropdown" id="accountDropdown">
                    <div class="dropdown-header">
                        <p class="dropdown-name">Bếp Trưởng Tuấn</p>
                        <p class="dropdown-email">tuan040905@gmail.com</p>
                    </div>
                    <hr class="dropdown-divider">
                    <ul class="dropdown-list">
                        <li>
                            <a href="/chef/profile">
                                <span class="material-symbols-outlined">person</span> Thông tin cá nhân
                            </a>
                        </li>

                    </ul>
                    <hr class="dropdown-divider">
                    <div class="dropdown-footer">
                        <form th:action="@{/auths/logout}" method="post" id="logoutForm" style="display: none;"></form>
                        <button class="logout-btn" onclick="document.getElementById('logoutForm').submit();">
                            <span class="material-symbols-outlined">logout</span> Đăng xuất
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

